@import 'normalize.styl'

a
    text-decoration none
    color black
    &.active
        color blue

body
    font-family Roboto
    background #fefefefe

.Content
    margin 0 auto
    width 800px
    h1
        text-align center
