@import 'normalize.styl'

a
    text-decoration none
    color black
    &:hover
        text-decoration underline
    &.active
        color green
        font-weight bold

body
    font-family Roboto
    background #f4f4f4

.Content
    margin 0 auto
    width 800px
    h1
        text-align center

.Post
    background-color #fefefe;
    padding 1em
    border-radius 4px
    margin-bottom 1em
    box-shadow 0 3px 6px 0 rgba(0, 0, 0, 0.16)
    &-body
        margin-left: 1em
