@import 'normalize.styl'

a
    text-decoration none
    color black
    &:hover
        text-decoration underline
    &.active
        color green
        font-weight bold

body
    font-family Roboto
    background #fefefefe

.Content
    margin 0 auto
    width 800px
    h1
        text-align center

.Post
    border-bottom 1px solid #505050
    &-body
        margin-left: 1em
