{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>El index perros</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "public/css/app.css" %}"/>
</head>
<body>
  <ol>
    <li><a href="{% url "example" template_name='harcode'%}">Hard Coded Example</a></li>
    <li><a href="{% url "example" template_name='basic' %}">Basic Ajax Example</a></li>
    <li><a href="{% url "example" template_name='resource' %}">Angular Resource Example</a></li>
    <li><a href="{% url "example" template_name='photos' %}">Photos Example</a></li>
    <li><a href="{% url "example" template_name='editor' %}">Editor Example</a></li>
</ol>
</body>
</html>
