{% extends 'index.html' %}

{% block ng-app-name %}example.photos{% endblock %}

{% block ng-controller %}PhotosController{% endblock %}

{% block content %}
{% verbatim %}
  <article class="Post" ng-repeat="post in posts">
    <h3>{{post.title}}</h3>
    <p>By: <span class="Post-author">{{post.author.username}}</span></p>
    <p class="Post-body">{{post.body}}</p>
    <figure ng-repeat="photo in photos[post.id]" class="Post-image">
      <img src="{{photo.image}}" alt="Photo" width="250" height="250"/>
    </figure>
  </article>
{% endverbatim %}
{% endblock %}
